<div class="container-fluid w-250">
  <footer class="text-center text-white h-100" style="background-image:url('assets/images/pulse_1.jpg');">
    <div class="container">
      <!-- Grid container -->
      <div class="container p-4"></div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="#">Dr Avicenne </a>
      </div>

    </div>
  </footer>

</div>
