<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>DrAvicenne.com</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a href="#">Qui somme nous ?</a></li>
              <li><a href="#">Prendre un rendez-vous</a></li>
              <li><a href="#">Nous contacter</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Nos spécailités </h4>
            <ul class="list-unstyled">
              <li><a href="#">Dermatologie</a></li>
              <li><a href="#">Cardiologie</a></li>
              <li><a href="#">Chirurgie</a></li>
              <li><a href="#">Psychatrie</a></li>
              <li><a href="#">Gynécologie</a></li>
              <li><a href="#">Ophtalmologue</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Trouver un docteur</h4>
            <ul class="list-unstyled">
              <li><a href="#">trouver un dentiste</a></li>
              <li><a href="#">trouver un dermato</a></li>
              <li><a href="#">trouver un généraliste</a></li>
              <li><a href="#">trouver un pédiatre</a></li>
              <li><a href="#">trouver un psy</a></li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Follow Us</h4>
          <ul class="social-network social-circle">
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">&copy; Copyright 2021 - Dr Avicenne.  All rights reserved.</p>
        </div>
      </div>


    </div>
  </div>
</footer>
