<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<body>
<div class="main-content container" *ngIf="medecin">
  <!-- Header -->
  <div class="profile-header">
    <div class="profile-header-cover"></div>

    <div class="profile-header-content">
      <div class="profile-header-img">
        <img *ngIf="medecin.picture !== null" src="assets/files/{{medecin.picture}}" alt="Photo de profile manquant" />
        <img *ngIf="medecin.picture === null" src="assets/images/icons/user_edit.png" alt="Photo de profile manquant"
        style="background-color: whitesmoke;cursor:pointer;" (click)="setProfileModal(profile)" title="modifier la photo"/>
      </div>

      <div class="profile-header-info">
        <h4 class="m-t-sm">Dr {{ medecin.nom }} {{ medecin.prenom }}</h4>
        <p class="m-b-sm">{{medecin.specialite}}</p>
      </div>
    </div>

    <ul class="profile-header-tab nav nav-tabs">
      <li class="nav-item"><a href="#profile-about" class="nav-link active show" data-toggle="tab">Apropos</a></li>
    </ul>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-10 order-xl-1 mx-auto">
        <div class="card">
          <div class="card-header bg-white border-0">
          </div>
          <div class="card-body">
            <form [formGroup]="medecinInfo" (ngSubmit)="updateMedecin()" autocomplete="off">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-username">Nom</label>
                      <input type="text" id="input-username" class="form-control form-control-alternative"
                             placeholder="Username" value="" name="nom" formControlName="nom">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email </label>
                      <input type="email" id="input-email" class="form-control form-control-alternative"
                             placeholder="" name="email" formControlName="email">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-first-name">Prenom</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative"
                             placeholder="First name" name="prenom" formControlName="prenom">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-last-name">Phone</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative"
                             placeholder="Last name" name="phone" formControlName="phone">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4">
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-city">Ville</label>
                      <input type="text" id="input-city" class="form-control form-control-alternative"
                             placeholder="City" name="ville" formControlName="ville">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <label class="form-control-label" for="specialite">Specialité</label>
                      <select id="specialite" formControlName="specialite" name="specialite" class="form-select form-control"
                              aria-label="Default select example">
                        <option value="" disabled selected> Specialité</option>
                        <option value="Anesthésiologie"> Anesthésiologie</option>
                        <option value="Andrologie"> Andrologie</option>
                        <option value="Immunologie"> Immunologie</option>
                        <option value="Chirurgie"> Chirurgie</option>
                        <option value="Chirurgie pédiatrique"> Chirurgie pédiatrique</option>
                        <option value="Chirurgie maxillo-faciale"> Chirurgie maxillo-faciale</option>
                        <option value="Dermatologie"> Dermatologie</option>
                        <option value="Neurochirurgie"> Neurochirurgie</option>
                        <option value="Néphrologie"> Néphrologie</option>
                        <option value="Nutrition et maladies nutritionnelles"> Nutrition et maladies nutritionnelles</option>
                        <option value="Hématologie"> Hématologie</option>
                        <option value="Hépatologie"> Hépatologie</option>
                        <option value="Infectiologie"> Infectiologie</option>
                        <option value="Ophtalmologie"> Ophtalmologie</option>
                        <option value="Pédiatrie"> Pédiatrie</option>
                        <option value="Psychiatrie"> Psychiatrie</option>
                        <option value="Pédopsychiatrie"> Pédopsychiatrie</option>
                        <option value="Radiothérapie"> Radiothérapie</option>
                        <option value="Obstétrique"> Obstétrique</option>
                        <option value="Gastro-entérologie"> Gastro-entérologie</option>
                        <option value="Urologie"> Urologie</option>
                        <option value="Imagerie médicale"> Imagerie médicale</option>
                        <option value="Radiothérapie carcinologique"> Radiothérapie carcinologique</option>
                        <option value="Réanimation médicale"> Réanimation médicale</option>
                        <option value="Médecine générale"> Médecine générale</option>
                        <option value="Médecine interne"> Médecine interne</option>
                        <option value="Médecine interne"> Médecine interne</option>
                        <option value="Médecine d'urgence"> Médecine d'urgence</option>
                        <option value="A definir plus tard"> Autres </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4">
              <!-- Description -->
              <h3 class="heading-small text-muted mb-4">Securité</h3>
              <div class="pl-lg-4">
                <div class="form-group focused">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">Mot de passe</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative"
                               placeholder="First name" name="password" formControlName="password">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Cin</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative"
                               placeholder="Last name" name="cin" formControlName="cin">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row-cols-5">
                  <button type="button" data-inline="true" class="btn btn-secondary btn-sm mr-1 inline" routerLink="../../med/dashboard"><i class="fas fa-arrow-circle-left"></i></button>
                  <button class="btn btn-sm btn-outline-dark inline" data-inline="true" type="submit"> Modifier <img
                    src="assets/images/icons/edit2.png" alt="Delete"> </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #profile let-modal>
  <div class="container" style="margin-top: 20px; margin-bottom: 20px; padding: 10px">
    <div class="row">
      <div class="col-auto mx-auto">
        <h3> Photo de profile </h3>
        <div class="alert alert-danger" *ngIf="!validity">
          <p> {{ message }}</p>
        </div>
        <div class="progress" *ngIf=" fileStatus.status === 'progress'">
          <div [style.width.%]="fileStatus.percent" class="progress-bar progress-bar-animated bg-info" role="progressbar" aria-valuenow="">
            {{ fileStatus.requestType }}
          </div>
        </div>
        <br>
        <small class="text-muted">jpg/jpeg/png/gif</small>
        <form enctype="multipart/form-data">
          <div class="form-group">
            <div>
              <input (change)="onUploadFile($event.target.files)" type="file" name="file" class="form-control-file" required>
            </div>
          </div>
          <div>
            <button class="btn btn-sm btn-secondary" (click)="setPicture(); modal.close('close modal');" [disabled]="!show">
              Changer <img src="assets/images/icons/edit2.png" alt="">
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

</body>
