<div class="container shadow">
    <h2 class="text-center"> Votre dossier Médical </h2>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td> Nom : </td>
                <td>{{ details?.antecedent }}</td>

            </tr>
            <tr>
                <td> Prenom : </td>
                <td> {{ details?.antecedent }}</td>

            </tr>
            <tr>
                <td> Antecedent Médicaux : </td>
                <td> {{ details?.antecedent }}</td>

            </tr>
        </tbody>
    </table>
</div>