<div class="container">
  <div class="col-md-6 mx-auto text-center" style="margin-top: 30px">
    <h2> Prenez Rendez-vous ! </h2>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="myform form shadow">
        <form name="login">
          <div class="form-group">
            <input type="text" name="name"  class="form-control my-input" id="name"
                   placeholder="{{patientService.patient?.nom}} {{patientService.patient?.prenom}}" disabled>
          </div>
          <div class="form-group">
            <input type="email" name="email"  class="form-control my-input" id="email"
                   placeholder="Dr {{medecinService.medecin?.nom}} {{medecinService.medecin?.prenom}}" disabled>
          </div>
          <div class="form-group">
            <label> Date rendez-vous </label>
            <input type="date" min="0" name="date" id="rdv"  class="form-control my-input" placeholder="Date du rendez-vous">
          </div>
          <div class="form-group">
            <label> Heure du rendez-vous </label>
            <input type="time" name="date" id="date"  class="form-control my-input" placeholder="Heure">
          </div>
          <div class="text-center ">
            <button type="submit" class="btn btn-block btn-sm send-button btn-primary tx-tfm">Envoyer la demande </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
