<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 mt-5">
      <img src="https://cdn.med.tn/img/piclogin.svg" style="width: 100%">
    </div>

    <div class="col-md-6 col-sm-12 col-lg-6 mt-5">
      <main class="form-signin shadow">
        <form>
          <img class="mb-4" src="https://tlr.stripocdn.email/content/guids/CABINET_dd354a98a803b60e2f0411e893c82f56/images/23891556799905703.png"
               alt="" style="margin-left: 85px" width="100px" height="120px">
          <h3 class="h3 mb-3 fw-normal text-center"> Réinitialisation du mot de passe </h3>

          <div class="form-floating">
            <input type="password" class="form-control" id="floatingInput" placeholder="Nouveau mot de passe ">
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingInput" placeholder="Confirm password ">
          </div>
          <div style="margin-left: 100px">
            <button class="w-40 mt-5 btn btn-sm btn-danger mx-auto" type="submit">
              <img src="assets/images/icons/reset.png" alt="">Réinitialiser
            </button>
          </div>

        </form>
      </main>
    </div>
  </div>
</div>
