<mat-tab-group mat-align-tabs="center" class="wrapper">
  <mat-tab>
    <!-- Visualisation de l'agenda-->
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">today</mat-icon>
      Mon agenda
    </ng-template>
    <div class="container">
      <div *ngIf="!exist; else showAgenda">
        <div class="alert alert-warning mt-5" style="width: 700px;">
          <strong><img src="assets/images/icons/danger.png"></strong> Aucun agenda trouvé !!!
        </div>
      </div>
      <ng-template #showAgenda>
        <div class="row">
          <div class="container">
            <h3 class="mb-3 ml-5 mt-3 nameForm">
              <form [formGroup]="editForm">
                <div class="input-group">
                  <input class="form-control" type="text" disabled
                         name="titre" formControlName="titre"
                         style="border: 0 none; box-shadow: none; background-color: white">
                  <button (click)="delete()" class="btn btn-sm" type="button">
                    <img src="assets/images/icons/delete_2.png" style="cursor: pointer"
                         title="Supprimer l'agenda" alt="">
                  </button>
                  <button (click)="showEdit()" class="btn btn-sm" type="button">
                    <img src="assets/images/icons/edit2.png" style="cursor:pointer"
                         title="Modifier le nom de l'agenda" alt="">
                  </button>
                </div>
              </form>

            </h3>
            <!-- Edit agenda -->
            <div class="row" *ngIf="showEditForm">
              <button class="btn btn-sm" (click)="hide()">
                <mat-icon>hide</mat-icon>
              </button>
              <form class="editForm" [formGroup]="editForm" (ngSubmit)="edit()" autocomplete="off">
                <div class="col-12 form-group">
                  <label> Nouveau nom </label>
                  <input class="form-control" name="titre" formControlName="titre" type="text">
                </div>
                <button type="submit" class="btn btn-sm">
                  <mat-icon>save</mat-icon>
                </button>
              </form>
            </div>
            <!-- End -->

            <!-- Adding tasks zone -->
            <div class="col-3">
              <button class="btn btn-sm" (click)="open(add)"><img src="assets/images/icons/plus.png"> Ajouter une tache
              </button>
            </div>

            <div *ngIf="listTache.length == 0; else showTask">
              <div class="alert alert-warning mt-5" style="width: 700px;">
                <strong><img src="assets/images/icons/danger.png"></strong> Aucune tache trouvée !!!
              </div>
            </div>
            <ng-template #showTask>
              <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3" *ngFor="let item of listTache">
                  <div class="myCard shadow">
                    <div class="myCard-title">
                      <h3> {{ item?.tache }} </h3>
                    </div>
                    <hr style="background-color: whitesmoke; margin-top: -3px">
                    <div class="myCard-content">
                      À <span> {{ item?.heure }} </span>, le <span> {{ item?.date | date: 'MM-dd-yyyy' }} </span>
                      <br> <br>
                      <div class="description mb-4">
                        {{ item?.description }}
                      </div>
                    </div>
                    <div class="myCard-footer">
                      <span class="delete">
                        <img src="assets/images/icons/delete2.png" (click)="deleteTask(item?.id)">
                      </span>
                      <span class="edit">
                        <img src="assets/images/icons/edit.png" (click)="openVerticallyCentered(content); getTaskById(item?.id)">
                      </span>
                    </div>

                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </ng-template>
    </div>
  </mat-tab>

  <!-- Creation Agenda -->

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">create</mat-icon>
      Créer
    </ng-template>
    <!-- Creation de l'agenda -->
    <div class="container">
      <div *ngIf="!exist; else show">
        <div class="row">
          <div class="col-12">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-xl-6 mt-5">
                  <h3 class="text-center text-dark"> Créer votre agenda en ligne et ajouter vos tâches </h3>
                  <div class="form container shadow">
                    <form [formGroup]="agendaForm" (ngSubmit)="create()" autocomplete="off">
                      <div class="form-group">
                        <label> Titre </label>
                        <input class="form-control" type="text" name="titre" formControlName="titre"
                               placeholder="Titre agenda ... " autofocus>
                      </div>
                      <button class="btn btn-sm"><img src="assets/images/icons/plus.png"> Créer</button>
                    </form>
                  </div>
                </div>

                <div class="col-md-6 col-lg-6 col-sm-6 mt-5">
                  <div id="carouselExampleIndicators2" class="carousel" data-ride="carousel">
                    <div class="carousel-inner" style="width: 500px; height: 140px; margin-bottom: 5px">
                      <div class="carousel-item active">
                        <div class="card" style="border-radius: 5px">
                          <div class="card-horizontal">
                            <div class="card-body row">
                              <div class="col-3">
                                <img src="assets/images/medicals/doctor.png" alt="Profile"
                                     class="img-fluid rounded-circle w-60">
                              </div>
                              <div class="col-5">
                                <div class="card-title align-self-center mb-0">
                                  <h3>
                      <span style="font-weight: bold; color: #00aaff">
                        Dr {{medecinService.medecin.prenom}} {{medecinService.medecin.nom}}
                      </span>
                                    <br>
                                    <span style="font-family: 'Times New Roman', Times, serif; font-style: italic">
                        {{medecinService.medecin.specialite}}
                      </span>
                                  </h3>
                                  <h4 class="m-0"><img src="assets/images/location.png"
                                                       size="10"> {{medecinService.ville}}
                                  </h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="alert alert-warning" style="width: 500px;">
                    <strong><img src="assets/images/icons/danger.png"></strong> Vous ne disposer pas encore d'un agenda
                    médical
                  </div>
                  <div class="alert alert-info" style="width: 500px;" align="center">
                    <strong><img src="assets/images/icons/shield.png"></strong> Votre connexion est sécurisée
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #show>
        <div class="alert alert-warning mt-5" style="width: 700px;">
          <strong><img src="assets/images/icons/danger.png"></strong> Vous disposez déja d'un agenda
          médical
        </div>
      </ng-template>
    </div>
  </mat-tab>

</mat-tab-group>

<!-- Edit Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Modifier une tâche </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="container">
        <div class="justify-content-center">
          <form [formGroup]="editTaskForm" (ngSubmit)="editTask()" autocomplete="off">
            <div class="form-group">
              <input type="hidden" formControlName="id" name="id">
              <label> Tache </label>
              <input type="text" formControlName="tache" name="tache" class="form-control"
                     style="width: 250px" required>
            </div>

            <div class="form-group">
              <label> Description </label>
              <textarea type="text" formControlName="description" name="description"
                        class="form-control" style="width: 250px" required> </textarea>
            </div>

            <div class="form-group">
              <label> Date </label>
              <input type="date" formControlName="date" name="date" class="form-control"
                     style="width: 165px" required>
            </div>

            <div class="form-group">
              <label> Heure </label>
              <input type="time" formControlName="heure" name="heure" class="form-control"
                     style="width: 100px" required>
            </div>
            <button type="submit" class="btn btn-outline-dark" style="margin-left: 80px"
                    (click)="modal.close('Save click')">
              Modifier
              <mat-icon>edit</mat-icon>
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Add task Modal -->

<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Ajouter une tache </h4>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="justify-content-center">
          <form [formGroup]="taskForm" (ngSubmit)="createTask()" autocomplete="off">
            <div class="form-group">
              <label> Tache </label>
              <input type="text" formControlName="tache" name="tache" class="form-control"
                     style="width: 250px" required>
            </div>

            <div class="form-group">
              <label> Description </label>
              <textarea type="text" formControlName="description" name="description"
                        class="form-control" style="width: 250px" required> </textarea>
            </div>

            <div class="form-group">
              <label> Date </label>
              <input type="date" formControlName="date" name="date" class="form-control"
                     style="width: 165px" required>
            </div>

            <div class="form-group">
              <label> Heure </label>
              <input type="time" formControlName="heure" name="heure" class="form-control shadow"
                     style="width: 100px" required>
            </div>
            <button type="submit" class="btn btn-sm btn-outline-dark shadow" style="margin-left: 80px"
                    (click)="modal.close('Save click')">
              Ajouter <img src="assets/images/icons/plus.png"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
