<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 mt-5">
      <img src="https://cdn.med.tn/img/piclogin.svg" style="width: 100%">
    </div>

    <div class="col-md-6 col-sm-12 col-lg-6 mt-5">
      <main class="form-signin shadow">
        <form>
          <img class="mb-4" src="assets/images/home/doctor.png" alt="" style="margin-left: 75px">
          <h3 class="h3 mb-3 fw-normal text-center"> Réinitialisation du mot de passe </h3>

          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="Cin ou Email ">
          </div>
          <div style="margin-left: 100px">
            <button class="w-40 mt-5 btn btn-sm btn-primary mx-auto" type="submit">
              Soumettre
            </button>
          </div>

        </form>
      </main>
    </div>
  </div>
</div>
