.wrapper {
  height: auto;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.typing-demo {
  width: 240px;
  animation: typing 3s steps(15) 2s infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

svg text {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 7px;
  stroke: #e582b5;
  font-size: 70px;
  font-weight: 100;
  font-style: italic;
  stroke-width: 3;
  animation: textAnimate 4s infinite alternate
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill: hsl(218, 77%, 26%)
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
  }
}

.bg-image{
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
  width: 100%;
  height: 350px;

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  color: black;
  font-weight: bold;
  position: absolute;
  border-radius: 7px;
  left: 10%;
  top: 2%;
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: center;
}

.bg-text button {
  height: 64px;
  font: normal normal 1500 1em/4em Arial, Helvetica, sans-serif;;
  overflow: hidden;
  width: 200px;
  background-color: #5d719e;
  border-radius: 20px;
}

.bg-text button:hover {
  font-style: italic;
  background-color: #003D60;
  font-size: large;
  width: 250px;
}

.image {
  position: relative;
  width: 100%;
}

.heading-box h2 {
    width: 100%;
    color: red;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.large{
  width: 800px;
}

.style{
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: bold;
}

.container-fluid{
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.text-box {
    position: absolute;
    top: 50%;
    left: 15%;
    right: 15%;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
}

#formSearch {
    background-color: whitesmoke;
    height: 50px;
    margin-bottom: 15px;
}

#rowElmt {
    margin-top: 20px;
}

.car {
    position: relative;
    z-index: 1;
}

#container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.image p{
  font-style: italic;
  font-size: 50px;
  margin-left: 15px;
}
.image img{
  margin-left: -50px;
  width: 1200px;
}

.image span{
  font-style: italic;
  font-size: 20px;
  margin-left: 35px;
  margin-bottom: 15px;
}
h1 {
    font-style: italic;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

/* Texte défilant */

.text{
  font-weight: bold;
}

.marquee-rtl p{
  font-family: "Arial Black", sans-serif;
}

.card{
  background-color: whitesmoke;
}
.card-body .card-text{
  font-family: "Arial Black", sans-serif;
  font-style: italic;
}
.conseil{
  background-color: white;
  height: 320px;
  width: 270px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.conseil p{
  font-weight: bold;
}
.conseil h4 span {
  font-weight: bold;
  margin-left: 5px;
}
.conseil h4{
  font-family: "Times New Roman", Times, serif;
}
.words p{
  color: #38389a;
  font-size: 33px;
  font-weight: bold;
  font-family: "Arial Black", sans-serif;
}
.words span{
  color: #38389a;
  font-size: 15px;
  font-family: "Arial Black", sans-serif;
}
.paragraph p{
  width: 150px;
}
.clignote {
  color:green;
  animation: clignote 1s linear infinite;
}

@keyframes clignote {
  50% { opacity: 0; }
}

.marquee-rtl {
  width: 100%;
  margin: 1em auto -2rem;
  overflow: hidden;
}

.marquee-rtl > :first-child {
  display: inline-block;
  padding-right: 2em;
  padding-left: 100%;
  white-space: nowrap;
  animation: defilement-rtl 75s infinite linear;
  animation-name: defilement-rtl;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
div .img{
  z-index: 9;
  position: relative;
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}
