<div id="log" class="container" style="margin-bottom: 50px">
  <div class="row">
    <div class="col text-center">
      <h2> Se connecter en tant que : </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mb-4">
      <h1 class="secondary-heading text-center text-muted">
        Patient
      </h1>
      <hr>
      <section class="pr-1">

        <div class="card shadow">
          <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form class="text-center" style="color: #757575;">

              <div class="form-row" style="margin-top: 30px">
                <div class="col">
                  <div class="md-form">
                    <input formControlName="username" type="text" name="username" class="form-control"
                           placeholder="Nom d'utilisateur">
                  </div>
                </div>
              </div>

              <div class="form-row" style="margin-top: 30px">
                <div class="col">
                  <div class="md-form">
                    <input formControlName="password" type="password" name="password" class="form-control"
                           placeholder="Password...">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6 mb-5 mt-4">
                  <button class="btn btn-primary btn-block" name="login" type="Submit"> Se connecter</button>
                </div>
                <div class="col-6 mb-5 mt-4">
                  <button class="btn btn-danger btn-block" name="register" type="Submit"> S'inscrire</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>

    <div class="col-6 mb-4">
      <h1 class="secondary-heading text-center text-muted">
        Médecin
      </h1>
      <hr>
      <section class="pr-1">
        <div class="card shadow">
          <div class="card-body px-lg-5 pt-0">

            <form class="text-center" style="color: #757575;">
              <div class="form-row" style="margin-top: 30px">
                <div class="col">
                  <div class="md-form">
                    <input formControlName="nom" type="text" name="nom" class="form-control" placeholder="Matricule...">
                  </div>
                </div>
              </div>

              <div class="form-row" style="margin-top: 30px">
                <div class="col">
                  <div class="md-form">
                    <input formControlName="password" type="password" name="password" class="form-control"
                           placeholder="Password...">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6 mb-5 mt-4">
                  <button class="btn btn-danger btn-block" name="register" type="Submit">Se connecter </button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </section>
    </div>
  </div>
</div>
