<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-4 justify-content-center">-->
<!--      <div class="myForm">-->
<!--        <form [formGroup]="taskForm" (ngSubmit)="createTask()" autocomplete="off">-->
<!--          <div class="form-group">-->
<!--            <label> Tache </label>-->
<!--            <input type="text" formControlName="tache" name="tache" class="form-control" required>-->
<!--          </div>-->

<!--          <div class="form-group">-->
<!--            <label> Description </label>-->
<!--            <textarea type="text" formControlName="description" name="description" class="form-control" required> </textarea>-->
<!--          </div>-->

<!--          <div class="form-group">-->
<!--            <label> Date </label>-->
<!--            <input type="date" formControlName="date" name="date" class="form-control" style="width: 165px" required>-->
<!--          </div>-->

<!--          <div class="form-group">-->
<!--            <label> Heure </label>-->
<!--            <input type="time" formControlName="heure" name="heure" class="form-control" style="width: 100px" required>-->
<!--          </div>-->
<!--          <div (click)="sendEvent()">-->
<!--            <button type="submit" class="btn btn-sm btn-outline-dark" style="margin-left: 100px" [mat-dialog-close]>-->
<!--              Ajouter <img src="assets/images/icons/plus.png"> </button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
