<div class="container mx-auto" style="margin-bottom: 50px; margin-top: 50px">
 <div class="row">
   <div class="col-md-12 mr-2">
     <carousel
       [images]="images"
       autoplay="true"
       autoplayInterval="2500"
       overflowCellsLimit="1"
       dots="true"
       arrows="true"
       arrowsTheme="dark"
       borderRadius="15px"
       transitionDuration="1000"
       loop="true"
       width=1100
       height=300
       cellsToShow=3
       class="car"
     >

     </carousel>
   </div>
 </div>
</div>

<div id="container" class="container-fluid mb-4">
  <img src="assets/images/medicals/img10.jpg" alt="Snow" style="width:100%;">
  <div class="centered">
    <h1 class="text-capitalize text-dark">
      Welcome ...
    </h1>
  </div>
</div>

