strong
{
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: black;
}

#regContainer{
  background-color: #ADD8E6;
  border-radius: 5px;
  height: 300px;
}
#logContainer{
  background-color: #ADD8E6;
  border-radius: 5px;
  height: 300px;
  width: 500px;
}

span
{
  color: black;
  font-weight: bold;
}

a{
  color: white
}

.msg strong{
  font-size: 27px;
}

#box2, #box1{
  border: 2px black solid;
  border-radius: 8px;
  padding-right: 50px;
  border-left-width: thin;
  right: 13px;
  left: 13px;
  top: 15px;
  bottom: 20px;
  margin-top: 17px;
}

#box1:hover{
  color: darkred;
}

#box2:hover{
  color: darkred;
}

#box2{
  height: 100px;
  width: 70px
}

#box1{
  height: 100px
}
