<div class="container">
    <div>
        <h3> Mon compte </h3>
        <hr style="height:2px;border-width:0;color:gray;background-color:whitesmoke">
    </div>
    <div class="row">
        <div class="col-resp col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <div id="logContainer">
                <strong style="color: darkred">Vous avez deja un compte ?</strong> <br>
                <span> Veillez vous connectez. </span>
                <div class="row text-secondary">
                    <div id="box1" class="col-10 mb-2 ml-3 text-left btn btn-lg" routerLink="../pat/login">
                        <p> <span> Connectez-vous en tant que Patient </span> <br> Votre rendez-vous vous attend.</p>
                    </div>
                    <div id="box2" class="col-10 text-left mb-2 ml-3 btn btn-lg" routerLink="../med/login">
                        <p><span>Connectez-vous en tant que Médecin</span> <br> vos patient vous attendent ! </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="regContainer" class="col-resp col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
            <strong style="color: #0000A0">Vous êtes nouveau sur DrAvicenne ?</strong> <br>
            <span style="color: #19aa96"> Inscrivez vous gratuitement</span>
            <div class="row">
                <div id="box1" class="col-11 mb-2 ml-3 text-left btn btn-lg" routerLink="../pat/register">
                    <p>
                        <span>Vous êtes Patient ?</span> <br> Inscrivez-vous et prenez rendez-vous avec un<br> personel de santé.
                    </p>
                </div>
                <div id="box2" class="col-11 text-left mb-2 ml-3 btn btn-lg" routerLink="../med/register">
                    <p><span>Vous êtes médecin ?</span> <br> Partagez votre disponibilité en vous inscrivant et <br> prenez rendez-vous avec vos patients.</p>
                </div>
            </div>
        </div>
    </div>
</div>