<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
  <div class="account">
    <h3> Inscription - Patient </h3>
    <hr style="height:4px;border-width:0;color:gray;background-color:whitesmoke; border-left: 140px solid yellowgreen">
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 mt-5">
      <img src="https://cdn.med.tn/img/piclogin.svg" style="width: 100%">
    </div>

    <div class="col-md-6 col-lg-6">
      <div class="card bg-light mx-auto mt-3 shadow">
        <article class="card-body mx-auto" style="width: 400px;">
          <span style="margin-left: 145px"><img src="assets/images/patient.png" class="mb-3"></span>

          <form [formGroup]="regPatForm" (ngSubmit)="registerPatient()" autocomplete="off">
            <small class="alert-danger text-center"> {{ message }}</small>
            <div class="form-group input-group is-invalid">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input formControlName="nom" name="nom" class="form-control" placeholder="Nom ..." type="text"
                     [ngClass]="{'is-invalid': regControl.nom.errors && regControl.nom.touched}">
              <div *ngIf="regControl.nom.errors" class="invalid-feedback">
                <span *ngIf="regControl.nom.touched"> Au moins 5 caracteres, au plus 8 caracteres </span>
              </div>
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="far fa-user"></i> </span>
              </div>
              <input formControlName="prenom" name="prenom" class="form-control" placeholder="Prenom ..." type="text"
                     [ngClass]="{'is-invalid': regControl.prenom.errors && regControl.prenom.touched}">
              <div *ngIf="regControl.prenom.errors" class="invalid-feedback">
                <span *ngIf="regControl.prenom.touched"> Au moins 5 caracteres, au plus 8 caracteres </span>
              </div>
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="far fa-user"></i> </span>
              </div>
              <input formControlName="username" name="username" class="form-control" placeholder="Nom d'utilisateur ..." type="text"
                     [ngClass]="{'is-invalid': regControl.username.errors && regControl.username.touched}">
              <div *ngIf="regControl.username.errors" class="invalid-feedback">
                <span *ngIf="regControl.username.touched"> Au moins 5 caracteres, au plus 8 caracteres </span>
              </div>
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="far fa-user"></i> </span>
              </div>
              <input formControlName="ville" name="ville" class="form-control" placeholder="Ville ..." type="text"
                     [ngClass]="{'is-invalid': regControl.ville.errors && regControl.ville.touched}">
              <div *ngIf="regControl.ville.errors" class="invalid-feedback">
                <span *ngIf="regControl.ville.touched">Champ obligatoire </span>
              </div>
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
              </div>
              <input formControlName="dateNaiss" name="dateNaiss" class="form-control" placeholder="Date naissance ..." type="date"
                     [ngClass]="{'is-invalid': regControl.dateNaiss.errors && regControl.dateNaiss.touched}">
              <div *ngIf="regControl.dateNaiss.errors" class="invalid-feedback">
                <span *ngIf="regControl.dateNaiss.touched"> Champ obligatoire </span>
              </div>

              <input formControlName="age" name="age" class="form-control" placeholder="Date naissance ..." type="hidden">
            </div>

            <div class=" input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-heartbeat"></i> </span>
              </div>
              <select formControlName="groupeSang" name="groupeSang" class="form-select form-control" aria-label="Default select example ">
                <option value="" disabled selected>-Groupe sanguin-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB-">AB-</option>
                <option value="AB+">AB+</option>
              </select>

            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
              </div>
              <input formControlName="email" name="email" class="form-control" placeholder="Email address" type="email" email
                     [ngClass]="{'is-invalid': regControl.email.errors && regControl.email.touched}">
              <div *ngIf="regControl.email.errors" class="invalid-feedback">
                <span *ngIf="regControl.email.touched"> Email invalide </span>
              </div>
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
              </div>
              <input formControlName="phone" name="phone" class="form-control" placeholder="Phone" type="text"
                     [ngClass]="{'is-invalid': regControl.phone.errors && regControl.phone.touched}">
              <div *ngIf="regControl.phone.errors" class="invalid-feedback">
                <span *ngIf="regControl.phone.touched">Au moins 5 chiffres </span>
              </div>
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input formControlName="password" name="password" class="form-control" placeholder="password" type="password" required>
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input formControlName="cpassword" name="cpassword" class="form-control" placeholder="Confirmation" type="password"
                     [ngClass]="{'is-invalid':regPatForm.get('cpassword').errors && regPatForm.get('cpassword').touched}" required>
              <div class="invalid-feedback" *ngIf="regPatForm.get('cpassword').hasError('passwordMismatch')"> Mot de passe de confirmation different du mot de passe </div>
            </div>

            <div class="form-group">
              <button [disabled]="regPatForm.invalid" type="submit" class="btn btn-primary btn-block btn-sm"> Soumettre </button>
            </div>
            <!-- form-group// -->
            <p class="text-center"> Vous avez un compte ? <a routerLink="../../pat/login">Connectez-vous</a> </p>
          </form>
        </article>
      </div>
      <!-- card.// -->
    </div>
  </div>
</div>
