<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
  <div class="account">
    <h3> Connexion - Médecin </h3>
    <hr style="height:4px;border-width:0;color:gray;background-color:whitesmoke; border-left: 150px solid darkred">
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 mt-5">
      <img src="https://cdn.med.tn/img/piclogin.svg" style="width: 100%">
    </div>

    <div class="col-lg-6 col-md-6">
      <div class="wrapper mt-0">
        <div id="formContent">
          <div>
            <span style="margin-left: 10px"><img src="assets/images/doctor.png"></span>
            <h3></h3>
          </div>

          <form [formGroup]="medLogForm" (ngSubmit)="login()" autocomplete="off">
            <small class="text-danger"> {{ message }} </small>
            <input formControlName="cin" type="text" id="cin" name="cin" placeholder="CIN ...">
            <input formControlName="password" type="password" id="password" name="password" placeholder="Mot de passe ...">
            <input type="submit" value="Connect">
            <a routerLink='../../med/register'> Créer un compte </a>
          </form>

          <div id="formFooter">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
