<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading color text-center mt-2 mb-2 shadow">
          <img src="assets/files/{{medecinInfo.picture}}" alt="Photo de profile manquant"> <br>
          <span id="Dr">Dr {{medecinInfo.prenom}} {{medecinInfo.nom}}</span>
        </div>
        <div class="list-group list-group-flush bg-secondary" style="margin-top: 83px">
          <a routerLink="../../medecin/{{medecinInfo.cin}}" class="list-group-item list-group-item-action bg-light">
            <img src="assets/images/icons/settings.png"> Parametre profile </a>
            <a routerLink="../../med/logout" class="list-group-item list-group-item-action bg-light" (click)="reload()">
              <img src="assets/images/logout.png" alt="logout"> Deconnexion </a>
        </div>
    </div>

    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#agenda" data-toggle="tab">Mon agenda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Rdv" data-toggle="tab">Mes Rendez-vous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Sp" data-toggle="tab">Spécialités <img src="assets/images/icons/plus.png" width="17" height="17"></a>
          </li>
        </ul>
      </nav>
      <div class="container-fluid">
        <div class="tab-content">
          <div id="agenda" role="tabpanel" class="tab-pane active">
            <app-agenda></app-agenda>
          </div>
          <div id="Rdv" role="tabpanel" class="tab-pane">
            <app-list-rendez-vous> </app-list-rendez-vous>
          </div>
          <div id="Sp" role="tabpanel" class="tab-pane">
            <app-specialite> </app-specialite>
          </div>
        </div>
      </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
