<div class="container-fluid">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <img src="assets/images/icons/question.png">
        Demandes reçues
      </ng-template>
      <div class="container">
        <div *ngIf="!isInWait; else accpt">
          <h2> <i class="fas fa-exclamation-triangle" style="color: red"></i>
            Vous n'avez aucune demande de rendez-vous actuellement </h2>
        </div>
      </div>

      <ng-template #accpt>
        <h2>Vos demandes reçues </h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Médecin</th>
                <th>Patient</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Status</th>
                <th>Dossier</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody *ngFor="let item of InWait">
              <tr>
                <td>Dr {{item?.plainMedecinDto?.nom}} {{item?.plainMedecinDto?.prenom}}</td>
                <td>{{item?.plainPatientDto?.nom}} {{item?.plainPatientDto?.prenom}}</td>
                <td>{{item?.date | date:'MM-dd-yyyy'}}</td>
                <td>{{item?.heure}}</td>
                <td>{{item?.status}}</td>
                <td>
                  <button class="btn btn-sm" (click)="openDossierModal(dossier); getDossier(item?.plainPatientDto?.username)"><img src="assets/images/icons/eye.png" alt="">Voir dossier</button>
                </td>
                <td>
                  <img src="assets/images/icons/confirm.png" style="margin-right: 5px; cursor: pointer" (click)="warningConfirm(confirm)">
                  <img src="assets/images/icons/x-button.png" style="cursor: pointer" (click)="warningRefuse(refuse)">
                </td>
              </tr>
              <!-- Alert before confirm rendez-vous -->
              <ng-template #confirm let-modal>
                <div class="modal-header">
                  <h2 class="modal-title" id="modal-basic-title"> Confirmation rendez-vous  </h2>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="container">
                      <div class="justify-content-center">
                        <div class="alert alert-warning text-center">
                          <strong><img src="assets/images/icons/info.png" alt=""> Attention </strong><br>Voulez-vous confirmer ce rendez-vous ?
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="row" align="center">
                    <div class="col-6">
                      <button type="button" class="btn btn-outline-light text-dark" (click)="modal.close('Close click')">
                        <img src="assets/images/icons/previous.png" alt="">Annuler
                      </button>
                    </div>
                    <div class="col-6">
                      <button type="button" class="btn btn-primary text-light" (click)="modal.close('Close click'); Confirm(item?.id); reload()">
                        Oui
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
              <!-- End Warning -->

              <!-- Alert before refuse rendez-vous -->
              <ng-template #refuse let-modal>
                <div class="modal-header">
                  <h2 class="modal-title" id="modal-basic-title"> Refus d'un rendez-vous  </h2>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="container">
                      <div class="justify-content-center">
                        <div class="alert alert-warning text-center">
                          <strong><img src="assets/images/icons/info.png" alt=""> Attention </strong><br>Voulez-vous refuser ce rendez-vous ?
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="row" align="center">
                    <div class="col-6">
                      <button type="button" class="btn btn-outline-light text-dark" (click)="modal.close('Close click')">
                        <img src="assets/images/icons/previous.png" alt="">Annuler
                      </button>
                    </div>
                    <div class="col-6">
                      <button type="button" class="btn btn-danger text-light" (click)="modal.close('Close click'); Reject(item?.id); reload()">
                        Oui
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
              <!-- End Warning -->
              </tbody>
            </table>
          </div>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">done_all</mat-icon>
        Demandes confirmées
      </ng-template>
      <div class="container">
        <div *ngIf="!isConfirmed; else conf">
          <h2> <i class="fas fa-exclamation-triangle" style="color: red"></i>
            Vous n'avez confirmer aucun rendez-vous actuellement </h2>
        </div>
      </div>

      <ng-template #conf>
        <h2>Vos demandes confirmées </h2>
        <div class="table-responsive w-100 d-block d-md-table">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Médecin</th>
              <th>Patient</th>
              <th>Date</th>
              <th>Heure</th>
              <th>Status</th>
              <th>Dossier</th>
              <th>Envoyer mail ou message</th>
            </tr>
            </thead>
            <tbody *ngFor="let item of Confirmed">
            <tr>
              <td>Dr {{item?.plainMedecinDto?.nom}} {{item?.plainMedecinDto?.prenom}}</td>
              <td>{{item?.plainPatientDto?.nom}} {{item?.plainPatientDto?.prenom}}</td>
              <td>{{item?.date | date:'MM-dd-yyyy'}}</td>
              <td>{{item?.heure}}</td>
              <td>{{item?.status}}</td>
              <td>
                <button class="btn btn-sm" (click)="openDossierModal(dossier); getDossier(item?.plainPatientDto?.username)"><img src="assets/images/icons/eye.png" alt="">Voir dossier</button>
              </td>
              <td>
                <img src="assets/images/icons/gmail.png" style="margin-right: 15px; cursor: pointer" (click)="openWindowCustomClass(mail); setPatient(item?.plainPatientDto?.username)">
                <img src="assets/images/icons/message.png" style="margin-right: 5px; cursor: pointer" (click)="openSmallModal(Sms); setValues(item?.plainPatientDto?.username)">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- MailSender Modal -->

<ng-template #mail let-modal>
  <div class="modal-body">
    <div class="container-fluid px-0 contact-form shadow">
      <div class="contact-image">
        <img src="assets/images/icons/email.png" alt="rocket_contact"/>
      </div>
      <form [formGroup]="mailForm" (ngSubmit)="sendMail()" autocomplete="off">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input formControlName="dest" type="text" name="dest" class="form-control" disabled/>
            </div>
            <div class="form-group">
              <input formControlName="from" type="text" name="from" class="form-control" disabled />
            </div>
            <div class="form-group">
              <input formControlName="topic" type="text" name="topic" class="form-control" placeholder="Sujet ... " value="" />
            </div>
            <div class="form-group" align="center">
              <button type="submit" class="btn btn-sm" (click)="modal.close('Close click')">
                <img src="assets/images/icons/send.png"> Envoyer
              </button>
              <button class="btn btn-sm" style="margin-left: 5px" (click)="modal.close('Close click')">
                <img src="assets/images/icons/x-button.png"> Annuler
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea formControlName="body" name="body" class="form-control" placeholder=" Message ... " style="width: 100%; height: 150px;"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<!-- Sms Sender Modal -->

<ng-template #Sms let-modal>
  <div class="modal-header" align="center">
    <img src="assets/images/icons/chat.png" alt="">
  </div>
  <div class="modal-body">
    <div class="container-fluid px-0 shadow">
      <form [formGroup]="smsForm" (ngSubmit)="sendMail()" autocomplete="off">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input formControlName="nom" type="text" name="nom" class="form-control" disabled/>
            </div>
            <div class="form-group">
              <input formControlName="numero" type="text" name="numero" class="form-control" disabled />
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea formControlName="message" name="message" class="form-control" placeholder=" Message ... "
                          style="width: 100%; height: 150px;"></textarea>
              </div>
            </div>
            <div class="form-group" align="center">
              <button type="submit" class="btn btn-sm text-light" (click)="modal.close('Close click')">
                <mat-icon>send</mat-icon> Envoyer
              </button>
              <button class="btn btn-sm text-light" style="margin-left: 5px" (click)="modal.close('Close click')">
                <img src="assets/images/icons/x-button.png"> Annuler
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<!-- Dossier Modal -->

<ng-template #dossier let-modal class="light-modal">
  <div style="margin-left: 260px; cursor:pointer;"><mat-icon (click)="modal.close('modal close')">close</mat-icon></div>
  <div class="modal-body" style="width: 750px">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="dossier">
            <div class="header shadow">
              <h3 class="text-center" style="font-family: 'Arial Black', sans-serif"> Dossier numero {{dossierMed.numero}} </h3>
            </div>
            <div class="body mt-3 ml-3">
              <div class="container">
                <div class="row">
                  <div class="col-5">
                    <div class="form-group">
                      <input type="text" name="prenom" class="form-control" value=" {{dossierMed?.plainPatientDto.nom}}" disabled>
                    </div>
                  </div>

                  <div class="col-7">
                    <div class="form-group">
                      <input type="text" name="prenom" class="form-control" value=" {{dossierMed?.plainPatientDto.prenom}}" disabled>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <div class="form-group">
                      <input type="text" name="prenom" class="form-control" value="Age : [ {{dossierMed?.plainPatientDto.age}} ]" disabled>
                    </div>
                  </div>

                  <div class="col-7">
                    <div class="form-group">
                      <input type="text" name="prenom" class="form-control"  value="Goupe sanguin : {{dossierMed?.plainPatientDto.groupeSang}}" disabled>
                    </div>
                  </div>
                </div>
                <fieldset class="border p-3">
                  <legend>Antécedents médicaux </legend>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Allergie : [ {{dossierMed?.antMed.allergie}} ]</li>
                    <li class="list-group-item"> Hypertendu(e) : [ {{dossierMed?.antMed.hypertension}} ]</li>
                    <li class="list-group-item"> Présence diabète chez soi ou famille : [ {{dossierMed?.antMed.diabete}} ] </li>
                    <li class="list-group-item"> Asmathique : [ {{dossierMed?.antMed.asthme}} ]</li>
                    <li class="list-group-item"> Autres antécedents médicaux : [ {{dossierMed?.antMed.autres}} ]</li>
                  </ul>
                </fieldset>

                <fieldset class="border p-3">
                  <legend>Antécedents Chirurgicaux </legend>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Subit une opération antérieurement : [ {{dossierMed?.antCh.operationAnt}} ]</li>
                    <li class="list-group-item"> Subit un traumatisme antérieurement : [ {{dossierMed?.antCh.traumatismeAnt}} ]</li>
                    <li class="list-group-item"> Autres antécedents chirurgicaux : [ {{dossierMed?.antCh.autres}} ]</li>
                  </ul>
                </fieldset>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
