<div class="container-fluid">
  <div class="row">
    <div class="container">
      <div *ngIf="isEmpty; else show">
        <h2><i class="fas fa-exclamation-triangle" style="color: red"></i>
          Aucun de vos patients ne possede un dossier médical </h2>
      </div>
    </div>

    <ng-template #show >
      <h2>Liste des dossiers Médicaux </h2>
      <div class="container">
        <div class="row" >
          <div class="col-6" *ngFor="let item of dossiers">
            <div class="dossier shadow">
              <div class="header shadow">
                <h3 class="text-center" style="font-family: 'Arial Black', sans-serif"> Dossier numero {{item.numero}} </h3>
              </div>
              <div class="body mt-3 ml-3">
                <div class="container">
                  <div class="row">
                    <div class="col-5">
                      <div class="form-group">
                        <input type="text" name="prenom" class="form-control" id="eMail" value=" {{item?.plainPatientDto.nom}}" disabled>
                      </div>
                    </div>

                    <div class="col-7">
                      <div class="form-group">
                        <input type="text" name="prenom" class="form-control" id="eMail" value=" {{item?.plainPatientDto.prenom}}" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <div class="form-group">
                        <input type="text" name="prenom" class="form-control" id="eMail" value="Age : {{item?.plainPatientDto.age}}" disabled>
                      </div>
                    </div>

                    <div class="col-7">
                      <div class="form-group">
                        <input type="text" name="prenom" class="form-control" id="eMail"  value="Goupe sanguin : {{item?.plainPatientDto.groupeSang}}" disabled>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <textarea formControlName="body" name="body" class="form-control" placeholder=" Antécédents Médicaux ... " style=" height: 100px;"> {{item?.antecedent}} </textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <textarea formControlName="body" name="body" class="form-control" placeholder="Prescriptions ... " style="width: 100%; height: 150px;"></textarea>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                        <textarea formControlName="body" name="body" class="form-control" placeholder=" Observation ... " style=" height: 150px;"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="row col-12 justify-content-end">
                    <button class="btn btn-outline-primary"> Enregistrer </button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
