<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid px-0 contact-form shadow">
  <div class="contact-image">
    <img src="assets/images/icons/email.png" alt="rocket_contact"/>
  </div>
  <form [formGroup]="mailForm" (ngSubmit)="sendMail()" autocomplete="off">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input formControlName="dest" type="text" name="dest" class="form-control" placeholder="Destinataire " />
        </div>
        <div class="form-group">
          <input formControlName="from" type="text" name="from" class="form-control" placeholder="Votre email ..." value="" />
        </div>
        <div class="form-group">
          <input formControlName="topic" type="text" name="topic" class="form-control" placeholder="Sujet ... " value="" />
        </div>
        <div class="form-group" align="center">
          <button [mat-dialog-close] type="submit" class="btn btn-sm">
            <img src="assets/images/icons/send.png"> Envoyer
          </button>
          <button [mat-dialog-close]  class="btn btn-sm" style="margin-left: 20px">
            <img src="assets/images/icons/x-button.png"> Annuler
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <textarea formControlName="body" name="body" class="form-control" placeholder=" Message ... " style="width: 100%; height: 150px;"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
