<!-- Body -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-6 text-center">
            <h2 class="text-primary"> Trouvez un médecin et prenez rendez-vous en ligne </h2>
        </div>
    </div>
    <hr style="border: gray solid 1px; border-width: thin; width: 800px;">
    <form [formGroup]="searchForm">
        <div id="rowElmt" class="row g-3 justify-content-center mt-1">

            <div class="col-lg-3 col-md-4 col-sm-12">
                <input (click)="searchMedecin(searchForm['nom'])" name="nom" formControlName="nom" type="text" class="form-control" placeholder=" Nom du médecin " aria-label="name" ngModel autofocus>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <select type="text" name="Spécialité " value="Specialité" class=" form-control " aria-label="specialite ">
                <input type="search">
                <option value="" selected disabled>--Specialité--</option>
                <option> Cardiologie </option>
                <option> Dermatologie </option>
                <option> Chirurgie </option>
                <option> Psychatrie </option>
                <option> Dentiste </option>
                <option> Ophtalmologue </option>
                </select>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <input type="text" class="form-control" placeholder=" Ville " aria-label="name">
            </div>
            <div class="col-lg-2 col-sm-10 ">
                <button class="btn btn-primary "> <span> <i class="fas fa-search "></i> </span> </button>
            </div>
        </div>
    </form>
</div>