<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center mb-2 shadow">
            <span *ngIf="patientService.credentials">
              <img class="pic" src="assets/files/{{patientInfo.picture}}" alt="Photo de Profile manquant" style="margin-left: 10px">
              <img class="logo" (click)="setProfileModal(profile)" style="cursor: pointer" alt="" src="assets/images/icons/pic2.png" title="modifier">
              <img class="logo2" (click)="setProfileModal(remove)" style="cursor: pointer" alt="" src="assets/images/icons/remove.png" title="supprimer">
              <br>
              <span id="Dr">{{patientInfo.nom}} {{patientInfo.prenom}}</span>
            </span>

            <span *ngIf="!patientService.credentials">
              <img class="pic" src="assets/images/icons/user.png" alt="Photo de Profile manquant" style="margin-left: 10px; background-color: whitesmoke">
              <img class="logo" (click)="setProfileModal(profile)" style="cursor: pointer" alt="" src="assets/images/icons/pic2.png" title="modifier">

              <br>
              <span id="Dr">{{patientInfo.nom}} {{patientInfo.prenom}}</span>
            </span>
        </div>
        <div class="list-group list-group-flush nav nav-tabs" style="margin-top: 100px">
          <a routerLink="../../patient/{{patientInfo.username}}" (click)="reload()" class=" nav-link btn list-group-item list-group-item-action bg-light">
            <img src="assets/images/icons/settings.png" (click)="setTitle('Profile');"> Parametre profile
          </a>

            <a routerLink="../../pat/logout" class=" nav-link btn list-group-item list-group-item-action bg-light" (click)="reload()">
                <img src="assets/images/icons/logout.png" alt="logout"> Deconnexion
            </a>
        </div>
    </div>

    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#Med" data-toggle="tab" (click)="setTitle('('+rendezService.p_notifications+') Trouver un médecin')">Trouver un médecin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Rdv" data-toggle="tab" (click)="setTitle('('+rendezService.p_notifications+') Rendez-vous')">Mes Rendez-vous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Dm" data-toggle="tab" (click)="setTitle('('+rendezService.p_notifications+') Dossier Médical')">Mon dossier medical</a>
          </li>
        </ul>
      </nav>
      <div class="container-fluid">
        <div class="tab-content">
          <div id="Med" role="tabpanel" class="tab-pane active">
            <app-card> </app-card>
          </div>
          <div id="Rdv" role="tabpanel" class="tab-pane">
            <app-list-rendezvous> </app-list-rendezvous>
          </div>
          <div id="Dm" role="tabpanel" class="tab-pane">
            <app-dossier-medical></app-dossier-medical>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

<ng-template #profile let-modal>
  <div class="container" style="margin-top: 20px; margin-bottom: 20px; padding: 10px">
    <div class="row">
      <div class="col-auto mx-auto">
        <h3> Ajouter une photo de profile </h3>
        <div class="alert alert-danger" *ngIf="!validity">
          <p> {{ message }}</p>
        </div>
        <div class="progress" *ngIf=" fileStatus.status === 'progress'">
          <div [style.width.%]="fileStatus.percent" class="progress-bar progress-bar-animated bg-info"
               role="progressbar" aria-valuenow="">
            {{ fileStatus.requestType }}
          </div>
        </div>
        <br>
        <small class="text-muted">jpg/jpeg/png/gif</small>
        <form enctype="multipart/form-data">
          <div class="form-group">
            <div>
              <input (change)="onUploadFile($event.target.files)" type="file" name="file" class="form-control-file"
                     required>
            </div>
          </div>
          <div>
            <button class="btn btn-sm btn-secondary" (click)="setPicture(); modal.close('close modal');"
                    [disabled]="!show">
              Changer <img src="assets/images/icons/edit2.png" alt="">
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #remove let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title"> Photo de profile  </h2>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="container">
        <div class="justify-content-center">
          <div class="alert alert-warning text-center">
            <strong><img src="assets/images/icons/info.png" alt=""> Attention </strong><br>Voulez-vous supprimer votre photo de profil ?
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row" align="center">
      <div class="col-6">
        <button type="button" class="btn btn-outline-light text-dark" (click)="modal.close('Close click')">
          <img src="assets/images/icons/previous.png" alt="">Annuler
        </button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-danger text-light" (click)="removePicture();modal.close('Close click')">
          Oui
        </button>
      </div>
    </div>
  </div>
</ng-template>
