<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center mt-2 mb-2 shadow">
          <img src="assets/files/{{patientInfo.picture}}" alt="Photo de Profile manquant"> <br> <br> <span id="Dr">{{patientInfo.nom}} {{patientInfo.prenom}}</span>
        </div>
        <div class="list-group list-group-flush nav nav-tabs" style="margin-top: 100px">
          <a routerLink="../../patient/{{patientInfo.username}}" class=" nav-link btn list-group-item list-group-item-action bg-light">
            <img src="assets/images/icons/settings.png" (click)="setTitle('Profile')"> Parametre profile
          </a>

            <a routerLink="../../pat/logout" class=" nav-link btn list-group-item list-group-item-action bg-light" (click)="reload()">
                <img src="assets/images/logout.png" alt="logout"> Deconnexion
            </a>
        </div>
    </div>

    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#Med" data-toggle="tab" (click)="setTitle('Trouver un médecin')">Trouver un médecin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Rdv" data-toggle="tab" (click)="setTitle('Rendez-vous')">Mes Rendez-vous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Dm" data-toggle="tab" (click)="setTitle('Dossier Médical')">Mon dossier medical</a>
          </li>
        </ul>
      </nav>
      <div class="container-fluid">
        <div class="tab-content">
          <div id="Med" role="tabpanel" class="tab-pane active">
            <app-card> </app-card>
          </div>
          <div id="Rdv" role="tabpanel" class="tab-pane">
            <app-list-rendezvous> </app-list-rendezvous>
          </div>
          <div id="Dm" role="tabpanel" class="tab-pane">
            <app-dossier-medical></app-dossier-medical>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
