<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-center mt-2 mb-2 shadow">Bienvenue <span id="Dr">{{patientService.name}} {{patientService.lastName}}</span> </div>
        <div class="list-group list-group-flush">
            <a routerLink="../../patient/{{patientService.Username}}" class="btn list-group-item list-group-item-action bg-light"> Profile </a>
            <button class="btn list-group-item list-group-item-action bg-light dropdown-btn">Mes Rendez-vous
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <button class="btn bg-light list-group-item list-group-item-action">  En attente </button>
              <button class="btn bg-light list-group-item list-group-item-action">  Accepter </button>
              <button class="btn bg-light list-group-item list-group-item-action">  Refuser  </button>
            </div>
            <a routerLink="../../patient/dossier/{{patientService.Username}}" class="btn list-group-item list-group-item-action bg-light"> Mon Dossier Médical </a>
            <a (click)="setShowMedValue()" class="btn list-group-item list-group-item-action bg-light"> Trouver un Médecin </a>
            <a routerLink="../../pat/logout" class="btn list-group-item list-group-item-action bg-light">
                <img src="assets/images/logout.png" alt="logout"> Deconnexion
            </a>
        </div>
    </div>

    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-outline-info" id="menu-toggle">Menu</button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        </nav>
        <div class="container-fluid">
            <div class="" *ngIf="patientService.showMed">
                <app-card> </app-card>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
