<mat-tab-group>
  <mat-tab label="Voir mon dossier">
    <div *ngIf="!exist; else doss">
      <h2><i class="fas fa-exclamation-triangle" style="color: red"></i>
        Vous ne disposer pas encore d'un dossier Médical !</h2>
    </div>
    <ng-template #doss>
      <div class="container">
        <h2> <img src="assets/images/dossier.png">
          Mon Dossier Médical </h2>
        <div class="shadow-lg mx-auto">
          <table class="table table-hover">
            <tbody>
            <tr>
              <td> Nom du Patient </td>
              <td>{{ patientService.patient.nom }}</td>

            </tr>
            <tr>
              <td> Prenom du Patient </td>
              <td> {{ patientService.patient?.prenom }}</td>
            </tr>

            <tr>
              <td> Groupe Sanguin </td>
              <td> {{ patientService.patient?.groupeSang }}</td>
            </tr>

            <tr>
              <td> Phone </td>
              <td> {{ patientService.patient?.phone }}</td>
            </tr>
            <tr>
              <td> Antecedent Médicaux : </td>
              <td> {{ dossier?.antecedent }}</td>
            </tr>

            <tr>
              <td> Observation du Médecin : </td>
              <td> {{ dossier?.observation }}</td>
            </tr>

            <tr>
              <td> Presciption du Médecin : </td>
              <td> {{ dossier?.prescription }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Créer un dossier médical">
    <div class="mt-5" *ngIf="exist; else noDoss">
      <h2> <i class="fas fa-calendar-check" style="color: green"></i>
        Vous disposer deja d'un Dossier Médical </h2>
    </div>
    <ng-template #noDoss>
      <div class="container">
        <div class="col-md-6 mx-auto text-center" style="margin-top: 30px">
        </div>
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div class="myform form shadow">
              <form [formGroup]="dossierForm" (ngSubmit)="createDossier()">
                <div class="form-group">
                  <input type="text" name="name"  class="form-control my-input" id="name"
                         placeholder="{{patientService.patient.nom}} {{patientService.patient.prenom}}" disabled>
                </div>
                <div class="form-group">
                  <input type="email" name="email"  class="form-control my-input" id="email"
                         placeholder="groupe sang [ {{patientService.patient.groupeSang}} ]" disabled>
                </div>

                <div class="form-group">
                  <label> Numero Dossier  </label>
                  <input type="text" name="numero" class="form-control my-input" formControlName="numero" disabled>
                </div>
                <div class="form-group" style=" margin-bottom: 5px;">
                  <label> Antecedant Médicaux </label>
                  <input type="text" min="0" name="antecedent" class="form-control my-input ant" formControlName="antecedent">
                </div>
                <div class="text-center ">
                  <button type="submit" class="btn btn-block btn-sm btn-primary tx-tfm"> Créer </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </ng-template>
  </mat-tab>
</mat-tab-group>


