body {
    font-family: 'Lato', sans-serif
}

h1 {
    margin-bottom: 40px
}

.ant{
  float:right;
  height:75px;
  margin-bottom: 10px;
}

input #rdv{
  padding: 20px 10px;
  line-height: 28px;
}

label {
    color: #333
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}

.myform{
  padding: 50px;
  width: 400px;
}
form{
  width: 350px;
  margin-left: -20px;
}

.send-button{
  background: #54C7C3;
  width:100%;
  font-weight: 600;
  color:#fff;
  padding: 8px 25px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.g-button{
  color: #fff !important;
  border: 1px solid #EA4335;
  background: #ea4335 !important;
  width:100%;
  font-weight: 600;
  color:#fff;
  padding: 8px 25px;
}
.my-input{
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: text;
  padding: 8px 10px;
  transition: border .1s linear;
}
.header-title{
  margin: 5rem 0;
}
h1{
  font-size: 31px;
  line-height: 40px;
  font-weight: 600;
  color:#4c5357;
}

.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}
.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
@media screen and (max-width:480px){
  h1{ font-size: 26px; }
  h2{ font-size: 20px; }
}

