<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar sticky-top navbar-expand-lg navbar-light shadow bg-info">
  <div class="container">
    <a class="navbar-brand" routerLink="" (click)="setTitle('Acceuil')">
      <img src="../../../assets/images/logo1.png" alt="Home"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">

        <li class="nav-item" *ngIf="!(patientService.isAuth() || medecinService.isAuth())">
          <a class="nav-link btn btn-info btn-sm" routerLink="mon-compte"
             style="color: black; margin-left: 620px; width: 130px;background-color: rgb(103,169,241); height: 40px;" (click)="setTitle('Mon compte')">
            <img src="../../../assets/images/user.png" alt=""> Mon compte </a>
        </li>

        <li class="nav-item" *ngIf="!(patientService.isAuth() || medecinService.isAuth())">
          <a class="nav-link text-light"
          style="margin-left: 10px">
            <img src="../../../assets/images/cloud-off.png" alt=""> pas connecter </a>
        </li>
        <li>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-list-4">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item" *ngIf="patientService.isAuth()" style="margin-left: 600px">
                <div class="account" routerLink="../pat/dashboard" (click)="reload()">
                  <img src="../../../assets/images/icons/profile.png" width="30" height="30" class="rounded-circle">
                  <span> dashboard </span> <i class="fas fa-caret-down" style="color: white"></i>
                </div>
              </li>
              <li class="nav-item" *ngIf="medecinService.isAuth()" style="margin-left: 600px">
                <div class="account" routerLink="../med/dashboard" (click)="reload()">
                  <img src="../../../assets/images/icons/profile.png" width="30" height="30" class="rounded-circle">
                  <span> dashboard </span> <i class="fas fa-caret-down" style="color: white"></i>
                </div>
              </li>
              <li class="nav-item w-25 h-25" *ngIf="medecinService.isAuth() || patientService.isAuth()" style="margin-top: 15px">
                <button class="btn btn-sm btn-block text-light" id="menu-toggle"
                        routerLink="../chat"> Chat
                </button>
              </li>

              <li class="nav-item" *ngIf="patientService.isAuth() || medecinService.isAuth()">
               <div class="line">
                 <img src="../../../assets/images/icons/online.png"> En ligne
               </div>
              </li>
              <li class="nav-item" style="cursor: pointer" *ngIf="patientService.isAuth()">
                <div class="mt-3">
                  <span [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()" matBadge="{{rdvService.p_notifications}}" matBadgeColor="warn" matBadgeOverlap="false">
                    <img src="../../../assets/images/icons/bell.png" (click)="p_notifications()">
                  </span>
                </div>
              </li>
              <li class="nav-item" style="cursor: pointer" *ngIf="medecinService.isAuth()">
                <div class="mt-3" (click)="toggleBadgeVisibility()">
                  <span [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()" matBadge="{{rdvService.m_notifications}}" matBadgeColor="warn" matBadgeOverlap="false">
                    <img src="../../../assets/images/icons/bell.png" (click)="m_notifications()">
                  </span>
                </div>
              </li>
            </ul>
          </div>

        </li>
      </ul>
    </div>
  </div>
</nav>
