@media(min-width:768px) {
    .nav-collapse {
        display: block;
    }
}
.loader{
  position: fixed;
  width: 98.5%;
  background: black;
  opacity: 0.8;
  margin-left: 3px;
  z-index: 99;
}
.navbar {
    background: none;
    background: #dbe4ea;
    background: -webkit-linear-gradient(59deg, #47758d, #3c4145);
    background: linear-gradient(59deg, #3A6073, #16222A);
}

.dropdown-content a:hover {
    background-color: transparent;
}

.navbar-brand {
    background-color: transparent;
}

.open>.dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}

.dropdown-menu {
    opacity: .3;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    display: block;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

.account{
  background: black;
  border: black solid 1px;
  border-radius: 18px;
  color: white;
  width: 120px;
  height: 35px;
  margin-top: 15px;
  cursor: pointer;
}

.account img{
width: 30px;
  height: 30px;
}

.account span{
  font-size: 15px;
  font-weight: bold;
}

.line{
  color: white;
  width: 120px;
  height: 30px;
  margin-top: 18px;
}

img span {
  font-family: "Times New Roman", Times, serif;
}
